<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <!-- CSS Bootstrap -->
    <link rel="stylesheet" href="css/bootstrapcss/bootstrap.min.css">

    <!-- CSS Personalizado -->
    <link rel="stylesheet" href="css/index.css">

    <!-- CSS Fontawsome  -->
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"> -->
    <!-- para poder usar font-awesome tenemos que tener la carpta css con el archivo all.css y en la misma raiz donde tenemos esta carpeta tenemos que 
    la carpeta que dice webfonts -->
    <link rel="stylesheet" href="css/css/all.css">

    <!-- CSS DATATABLE -->
    <link rel="stylesheet" href="css/dataTables/datatables.css">

    <link rel="stylesheet" href="css/dataTables/dataTables.bootstrap4.min.css">

    <!-- JS jQuery -->
    <script src="js/jquery/jquery-3.4.1.js"></script>

    <!-- JS Propper -->
    <script src="js/popperjs/popper.min.js"></script>

    <!-- JS Bootstrap -->
    <script src="js/bootstrapjs/bootstrap.min.js"></script>

    <!-- JS DATATABLE  -->
    <script type="text/javascript" charset="utf8" src="js/dataTablejs/jquery.dataTablesjs/jquery.dataTables.js">
    </script>

    <!-- JS DATATABLE RESIZING -->
    <script src="js/dataTablejs/dataTableResizejs/dataTables.pageResize.min.js"></script>

    <!-- ALERTIFY JS -->
    <script src="js/alertifyjs/alertify.min.js"></script>

    <!-- ALERTIFY CSS -->
    <link rel="stylesheet" href="css/alertifyjs/alertify.min.css">
    <link rel="stylesheet" href="css/alertifyjs/default.min.css">
    <link rel="stylesheet" href="css/alertifyjs/semantic.min.css">
    <link rel="stylesheet" href="css/alertifyjs/Abootstrap.min.css">

    <!-- PERSONAL JS CUSTOM -->
    <script src="js/utils/utils.js"></script>


    <!-- DATEPICKER CDN -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css">
    <script src="js/datepickerjs/datepicker.min.js" type="text/javascript"></script> -->
    <!-- DATEPICKER CDN -->
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark primary-color navBarColor">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="/">RRPP</a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <!-- Dropdown -->
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Notas<span class="sr-only">(current)</span></a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/notasRecibidas">Notas Recibidas</a>
                        <a class="dropdown-item" href="/notasEnviadas">Notas Enviadas</a>
                    </div>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Datos Maestros<span
                            class="sr-only">(current)</span></a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/datosMaestros">Fuerzas, Direcciones, Etc.</a>
                        <a class="dropdown-item" href="/tipoNotas">Tipo de Nota</a>
                    </div>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/datosMaestros">Datos Maestros</a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li> -->

                <!-- Dropdown -->
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li> -->

            </ul>
            <!-- Links -->

            <!-- <form class="form-inline">
                <div class="md-form my-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                </div>
            </form> -->
        </div>
        <!-- Collapsible content -->

    </nav>
    <!--/.Navbar-->

    <%- body -%>


</body>

</html>