<%- layout('layouts/main') %>

<div class="containter-fluid">
    <!-- TITULO -->
    <h1 class="text-center mb-4">Reportes de Notas</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="divContent3">
                <h4 class="text-center">Reporte de Notas Recibidas</h4>
            </div>
        </div>
        <div class="col-md-6">
            <div class="divContent3">
                <h4 class="text-center">Reporte de Notas Enviadas</h4>
                <% meses.map((mes) => { %>
                <span> <a href=""><%- mes %></a> </span>
                <% }); %>
            </div>
        </div>
    </div>
</div>