/* Background body */
body {
    background: #3D7EAA;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFE47A, #3D7EAA);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFE47A, #3D7EAA);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* Size of input */
.inputSize {
    width: 100%;
}

/* background color navbar */
.navBarColor {
    background-color: cornflowerblue;
    margin-bottom: 20px;
}

/* DIV CONTENIDO PRINCIPAL */
.divContent {
    height: auto;
    width: auto;
    padding: 20px;
}

/* ESTE DIV ESTA EN LOS FORM Y EN LAS TABLAS */
.divContent3 {
    height: auto;
    width: inherit;
    border: 2px solid white;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 50px;
}

.sizeTable {
    width: inherit;
    min-height: 300px;
}

/**/
/* .divDatosMaestros1 {
    height: 590px;
    width: inherit;
    border: 2px solid white;
    border-radius: 8px;
    padding-top: 30%;
    padding-left: 20px;
    padding-right: 20px;
} */

/**/
.divContent2 {
    height: auto;
    width: inherit;
    border: 2px solid white;
    border-radius: 8px;
    padding: 20px;
}

/* Las configuraciones de las imagenes */
.imagenNotas {
    height: auto;
    width: inherit;
    border-radius: 15px;
    padding: 10px;
}

/* Notificaciones */
.divNotificaciones {
    width: inherit;
    height: 60px;
    margin-bottom: 10px;
}

/* CON ESTE LE DAMOS ESTILO AL DIV CON EL QUE ENCOJEMOS EL DATATABLE */
#resize_handle {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1.5em;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    text-align: center;
    font-size: 0.8em;
    line-height: 1.5em;
    background-color: #4d90fe;
    color: white;
    cursor: pointer;
}

#resize_wrapper {
    height: auto;
}

/* ESTE CODIGO ES PARA DESABILITAR EL COMBOBOX CON EL CUAL SE ELIGE LA CANTIDAD DE DATOS QUE SE VAN A VER */
div.dataTables_length {
    display: none;
}

/* Estilo del texto del deatlle de nota */
.textStyleDetalle {
    font-size: 15px;
    color: black;
    font-weight: bolder;
}

/* BOTONES DEL DETALLE DE NOTAS */
.btnDetalleNotas {
    width: 240px;
    height: 40px;
    margin: 5px;
}

/* TEXTO DEL DETALLE DE NOTAS */
.txtDetalleNotas {
    font-size: 17px;
    color: black;
    font-weight: bolder;
}


/* DIV FOR LOGIN  */
.divLogin {
    width: auto;
    height: auto;
    background-color: red;

    margin-top: 300px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}


.pt {
    display: block;
    margin: auto;
}


/* ******************************************/